<!doctype html>
<html class="no-js" lang="en" ng-app="HAAS">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.10/twilio-ip-messaging.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <!--
    <script>
      var tc = {};

      tc.accessManager = new Twilio.AccessManager('eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTSzJiOTdhMTFjN2UzMjZiN2VkMDU4NjU0MDBhN2NiZTEwLTE0NjE3MDcxMjEiLCJncmFudHMiOnsiaWRlbnRpdHkiOiI1NzE5OTk3YjBjMGY5ZGRmMjdiMjM5NGQiLCJpcF9tZXNzYWdpbmciOnsic2VydmljZV9zaWQiOiJJU2E4MTE5YzBlOGE4ZDQ0ZmNiZmYxODViOWU0NDQxNDk4IiwiZW5kcG9pbnRfaWQiOiJIQUFTOjU3MTk5OTdiMGMwZjlkZGYyN2IyMzk0ZCJ9fSwiaWF0IjoxNDYxNzA3MTIxLCJleHAiOjE0NjE3MTA3MjEsImlzcyI6IlNLMmI5N2ExMWM3ZTMyNmI3ZWQwNTg2NTQwMGE3Y2JlMTAiLCJzdWIiOiJBQ2JjNWVlMzYwOTQ1OTQ5MzU2ODdiZWQyY2FlNDI4NGE1In0.WkYJSyobn59I2mfe6Y0ep-0ciKct1FszjqjDXcVN56I');
      tc.messagingClient = new Twilio.IPMessaging.Client(tc.accessManager);

      /*tc.messagingClient.getChannels().then(function(channels) {
        console.log('Channels:\n');
        for(var i = 0; i < channels.length; i++) {
          console.log('Channel: ' + channels[i].sid);
        }
      });*/

      var msg = new SpeechSynthesisUtterance();
      var voices = window.speechSynthesis.getVoices();
      msg.voice = voices[16]; // Note: some voices don't support altering params
      msg.voiceURI = 'native';
      msg.volume = 1; // 0 to 1
      msg.rate = 0.9; // 0.1 to 10
      msg.pitch = 1.7; //0 to 2
      msg.lang = 'en-US';

      tc.messagingClient.getChannelBySid('CHba0ab34d24154274a0c2af4d3b83fec8').then(function(channel) {
        channel.join().then(function(joinedChannel) {
          console.log('Joined channel ' + joinedChannel.friendlyName);
          joinedChannel.sendMessage("What basketball team does Kobe Bryant play for?");
        });
        channel.on('messageAdded', function(message) {
          msg.text = message.body;
          speechSynthesis.speak(msg);
        });
      });
    </script>
    -->
</head>
<body>
    <div ng-view>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>

    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/LoginController.js"></script>
    <script type="text/javascript" src="js/controllers/HaasController.js"></script>
    <script type="text/javascript" src="js/controllers/RegisterController.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="js/services/APIPromiseService.js"></script>
    <script type="text/javascript" src="js/services/DataService.js"></script>
</body>
</html>
