h1, h2, h4 {
    text-align: center;
}

main {
    background: url('../img/material-mountains.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-auth {
    max-width: 300px;
    margin: auto;
}

#form-query {
    max-width: 300px;
    margin: auto;
}

.textfield {
    display: block;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.button-form {
    width: 120px;
}

.container-messages {
    /* 100vh - height of header - padding for message container */
    height: calc(100vh - 64px - 60px);
    width: 100vw;
    margin: 0;
    padding: 30px 0;
}

#messages {
    border: 2px solid #ecf0f1;
    /* 100% of container - height of form - bottom padding*/
    height: calc(100% - 103px - 30px);
    margin: auto;
    max-width: 900px;
    overflow-y: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.45);
}

.message {
    box-shadow: 0 2px 2px 0     rgba(0,0,0,.14),
                0 3px 1px -2px  rgba(0,0,0,.2),
                0 1px 5px 0     rgba(0,0,0,.12);
    max-width: 350px;
    overflow-wrap: break-word;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    border-radius: 7px;
}

.message-user {
    background-color: #19967b;
    color: white;
    margin: 0 0 10px auto;
}

.message-bot {
    background-color: #bdc9a5;
    color: black;
    margin: 0 auto 10px 0;
}

.card.mdl-card {
    width: 400px;
    height: 400px;
}

.card > .mdl-card__title {
    height: 400px;
    color: #111;
    background: url('../img/haas.png') center / cover;
}

.haas-card-wrapper {
    padding: 100px;
    padding-left: 200px;
}
