<div id="container-faq">
    <div id="container-faq-content">
        <h1>Frequently Asked Questions</h1>

        <h4>What is Helper as a Service?</h4>
        <p>
            Helper as a Service, or HaaS, is a cloud-based service that provides
            a personal virtual assistant across multiple devices. HaaS is an
            open-source community-driven project that aims to simplify everyday
            tasks.
        </p>

        <h4>What can Helper as a Service do for me?</h4>
        <p>
            HaaS can do everything current personal assistants can't. Tasks that
            take significant amounts of time, such as finding the cheapest
            airfare, can be answered as easily as asking HaaS, "Find me a flight
            from LAX to SFO in 3 days".
        </p>

        <h4>What commands are supported by Helper as a Service?</h4>
        <p>
            For a complete list of commands, please visit our
            <a href="https://github.com/kkajla12/haas/wiki" target="_blank" style="color:white;">documentation</a>. <!-- TODO: css class -->
        </p>
        <h5>Common commands</h5>
        <h6>General Knowledge</h6>
        <p>
            <ul>
                <li>What team does Stephen Curry play for?</li>
                <li>How long is a great white shark?</li>
                <li>Why is the sky blue?</li>
            </ul>
        </p>
        <h6>Flight Search</h6>
        <p>
            <ul>
                <li>Find me a flight from LAX to ORD in 1 month.</li>
            </ul>
        </p>
        <h6>Hotel Search</h6>
        <p>
            <ul>
                <li>Find me a hotel in Rome from June 25th to July 3rd.</li>
            </ul>
        </p>
        <h6>Retail Store Search</h6>
        <p>
            <ul>
                <li>Where can I buy an Xbox One?</li>
            </ul>
        </p>
        <h6>Recipe Search</h6>
        <p>
            <ul>
                <li>What's the recipe for Red Velvet Cake?</li>
            </ul>
        </p>
        <h6>Recipe Ingredient Search</h6>
        <p>
            <ul>
                <li>What can I make with steak, asparagus, and potatoes?</li>
            </ul>
        </p>

        <h4>Where can I find the source code?</h4>
        <p>
            HaaS is an open-source community-driven project founded by four
            University of California, Los Angeles students. You can find the
            source code
            <a href="https://github.com/kkajla12/haas" target="_blank" style="color:white;">here</a>.
        </p>
    </div>
    <div id="form-blur">
</div>
