<div class="container-messages" ng-init="init()">
    <div id="messages">
        <div ng-repeat="message in messages" class="message {{message.class}}">{{message.message}}</div>
    </div>
    <form id="form-query">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="_request" ng-model="request" autocomplete="off">
            <label class="mdl-textfield__label" for="_request">Question</label>
        </div>
        <div class="container-button">
            <button class="button-form mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="query()">Ask</button>
        </div>
    </form>
</div>
