<div class="container-home">
    <div class="container-home-content">
        <h1>Helper as a Service</h1>
        <!-- TODO: insert avocado here -->
        <h4>Your very own virtual personal assistant</h3>
        <h6>Find out what Helper as a Service can do for you!</h6>
        <div class="container-button">
            <button class="button-form mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="register()">
                Register
            </button>
        </div>
    </div>
    <div class="container-blur"></div>
</div>
