<div>
    <h2>Register</h2>
    <h4>Please enter the following information:</h4>
    <form>
        <label>Username
            <input type="text" ng-model="username" />
        </label>
        <label>First name:
            <input type="text" ng-model="firstname" />
        </label>
        <label>Last name:
            <input type="text" ng-model="lastname" />
        </label>
        <label>Password
            <input type="password" ng-model="password" />
        </label>
        <label>Confirm password:
            <input type="password" ng-model="confirmPassword" />
        </label>
        <button ng-click="register()">Register</button>
        <button ng-click="login()" ng-if="backToLogin">Back to Login</button>
        <p ng-if="registerError">{{registerErrorMessage}}</p>
    </form>
</div>
